body {
background-color; white;
color: #000099;
font-family: Arial;
}
a { 
    color: GrayText;
    background-color: transparent;
    text-decoration: none;
	}
h1{
	color: red;
	font-family: Tiems New Roman;
}