body{
      background-color: lightgray;
      color: #191970;
      font-family: Arial, Verdana, sans-serif;
      margin-left: auto;
      margin-right: auto; 
      width: 80%;
      
  }

  #maintitle{
    background-color: blue;
    color: #E6E6FA;
    line-height: 200%;
    font-family: Georgia, "Times New Roman", serif;
    text-indent: 1em;
  }

 #subtitle{
    background-color: green;
    color: #E6E6FA;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
  } 

  #myOtherPages{
    font-weight: bold;
    font-size: 1.25em;
    word-spacing: 1.25em;
   
  }

  /* Below is an example of Descendant Selectors */

  #myOtherPages a{
      text-decoration: none;
  } 

  #myOtherPages .services{
    text-decoration: underline;
  }

  .descendant dt{
    font-weight: bold;
  }

  .fewords{
            font-size: .90em;
            text-indent: 3em;
          }

  .csslist li{font-weight: bold;}

  .unique{
    font-size: .80em;
    font-style: italic;
    text-align: center;
  }

